body {
  background: url(https://img.freepik.com/free-photo/beautiful-white-cloud_74190-3975.jpg?w=900&t=st=1676645185~exp=1676645785~hmac=85be81a742bb2067b4bfa6968f618b2df598e93789fac7663a2e86600b2b1c04);
  background-repeat: no-repeat;
  background-size: cover;
}
.search{
  margin-left: 20px;
}
.button{
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}
li{
  text-decoration: none;
}
ul{
  text-decoration: none;
}
h3{
  margin-left: 20px;
  margin-top: 30px;
}